/* Profile Styles */
.profile {
  margin: 20px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
}

.profile img {
  max-width: 200px;
  border-radius: 50%;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .profile img {
    max-width: 150px;
  }
}
