/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align content to the left */
  text-align: center;
}

/* Content Styles */
.content {
  width: 100%;
  display: flex;
  justify-content: flex-start; /* Align content to the left */
  align-items: flex-start; /* Align content to the left */
  flex-direction: column;
}

/* Header Text Styles */
header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

header p {
  font-size: 18px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .container {
    align-items: center; /* Center content vertically on smaller screens */
  }

  .profile img {
    max-width: 150px;
  }
}
